@font-face {
    font-family: "Singo-Sans";
    src: url(../fonts/Singo-Sans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --animation-timing: 0.25s;
    --border-radius: 0.5em;
}

body{
    font-family: "Singo-Sans";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    gap: 1em;
    background-color: #2f2f2f;
    width: 100vw;
    /* overflow-x: hidden; */
}

.heading{
    font-size: 3em;
    color: white;
    text-align: center;
}

.row{
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: space-around;
    align-items: center;
}

.inner{
    width: 50%;
}

.flap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    line-height: 0em;
}

.top-flap,
.bottom-flap{
    height: 2em;
    width: 2.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.top-flap{
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    justify-content: flex-end;
    transform-origin: bottom;
    background-color: rgba(0, 0, 0, 0.7);
}

.bottom-flap{
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    justify-content: flex-start;
    transform-origin: top;
    background-color: rgba(0, 0, 0, 0.3);
}

.flap-item-top,
.flap-item-bottom{
    font-size: 2.5em;
    color: white;
    text-align: center;
}


.flap-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2em;
}

.row-half{
    display: flex;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
}

.row-half-group{
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

@keyframes flip-top {
    100%{
        transform: rotateX(90deg);
    }
}

@keyframes flip-bottom {
    0%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}